{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>CRM Django</title>
    </head>
    <body>
        <main class="container-fluid p-0">
            <div class="row">
                <div class="col">
                    <nav class="navbar navbar-dark bg-dark">
                        <a class="navbar-brand" href="{% url 'index' %}">Accueil</a>
                      </nav>
                </div>
            </div>
            <div class="row m-5">
                {% for utilisateur in liste_utilisateurs %}
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <p>{{ utilisateur.nom }} {{ utilisateur.prenom }}</p>
                        </div>
                        <div class="card-body">
                          <p>Age : {{ utilisateur.age }}</p>
                          <p>Email : {{ utilisateur.email }}</p>
                          <form action="{% url 'supprimer_utilisateur' %}" method="post">{% csrf_token %}
                            <input type="hidden" name="nom" value="{{ utilisateur.nom }}">
                            <input type="hidden" name="prenom" value="{{ utilisateur.prenom }}">
                            <button type="submit" class="btn btn-warning">Supprimer</button>
                        </form>
                        </div>
                        
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col p-5">
                    <form method="post" action="{% url 'ajouter_utilisateur' %}">{% csrf_token %}
                        <div class="form-group">
                            <label for="nom">Nom :</label>
                            <input type="text" name="nom" class="form-control" id="nom">
                        </div>
                        <div class="form-group">
                            <label for="prenom">Prénom :</label>
                            <input type="text" name="prenom" class="form-control" id="prenom">
                        </div>
                        <div class="form-group">
                            <label for="age">Age :</label>
                            <input type="text" name="age" class="form-control" id="age">
                        </div>
                        <div class="form-group">
                            <label for="email">Adresse email :</label>
                            <input type="email" name="email" class="form-control" id="email">
                        </div>
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    </form>
                </div>
            </div>
        </main> 
    </body>
</html>